button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* game */

body {
  text-align: center;
}

.game {
  background: url(img/background.png) center/cover;
  width: 800px;
  height: 700px;
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__button {
  font-size: 32px;
  padding: 20px;
  margin-top: 10px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: wheat;
}

.game__timer {
  background-color: white;
  width: 100px;
  height: 50px;
  color: black;
  font-size: 32px;
  text-align: center;
  border: 5px solid black;
  border-radius: 10px;
  margin-top: 10px;
  visibility: hidden;
}

.game__score {
  width: 50px;
  height: 50px;
  background-color: lightsalmon;
  border: 3px solid black;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  color: white;
  margin-top: 10px;
  visibility: hidden;
}

.game__field {
  width: 100%;
  height: 60%;
  margin-top: 100px;
  position: relative;
}

/* pop up */
.pop-up {
  display: block;
  width: 300px;
  height: 200px;
  background-color: #00000090;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-150%);
}

.pop-up__hide {
  display: none;
}

.pop-up__replay {
  font-size: 32px;
  padding: 10px;
  border-radius: 10px;
}

.pop-up__message {
  display: block;
  color: white;
  font-size: 20px;
}
