* {
  box-sizing: border-box;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
}
body {
  background-color: thistle;
}
/* total container */
.total__container {
  width: 50vw;
  height: 60vh;
  background-color: white;
  margin: 0px auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 12px 21px 35px 5px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 12px 21px 35px 5px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 12px 21px 35px 5px rgba(0, 0, 0, 0.67);
}
/* navbar */

.navbar {
  width: 100%;
  height: 50px;
  background: rgb(118, 114, 196);
  background: linear-gradient(
    90deg,
    rgba(118, 114, 196, 1) 28%,
    rgba(255, 0, 224, 0.6199522045146184) 100%
  );
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.title {
  line-height: 50px;
  font-size: 32px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* input list */
.input {
  width: 100%;
  height: 30px;
  text-align: center;
}

.input input {
  border: none;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  width: 100%;
  height: 100%;
  margin: 0px;
  outline: none;
}

/* main list */

.main-list {
  display: inline-block;
  width: 100%;
  height: 82%;
  background-color: whitesmoke;
  overflow-y: scroll;
}

.list-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item i {
  padding: 0px 20px;
}

.addbar {
  width: 100%;
  height: 60px;
  /* background: rgb(118, 114, 196); */
  background: linear-gradient(
    90deg,
    rgba(118, 114, 196, 1) 28%,
    rgba(255, 0, 224, 0.6199522045146184) 100%
  );
  text-align: center;
}

.add-icon {
  width: 40px;
  height: 40px;
  font-size: 24px;
  background-color: rgb(119, 43, 43);
  color: white;
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
  transition: transform 300ms ease;
}

.add-icon:hover {
  transform: scale(1.1);
}
